<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Inicio";
}

<div class="columnleft">
    <img src="/img/lacos.jpg" alt="Ciça Laços" style="width: 1190px; height: 686px;" align="left"/>
  </div>
  <div class="columnright">
    <h2>Venha nos conhecer!</h2>
    <p>Laços incríveis para realçar sua beleza e estilo! Descubra a elegância em cada detalhe e apaixone-se pela nossa coleção de laços deslumbrantes. Venha conferir e deixe seu visual ainda mais encantador! Você pode criar laços únicos e personalizados, perfeitos para expressar sua individualidade e estilo!</p>
    <a href="https://www.instagram.com/cicalacos.macae" target="_blank">
    <button class="meu-botao">Contate-nos</button>
    </a>
  </div>