<link rel="stylesheet" href="~/css/site.css"/>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
<script src="~/js/site.js"></script>

@{
    ViewData["Title"] = "Inicio";
}
<div style="background-color: #fdb2fd">
    <div class="container-fluid">
        <div class="row" style="display: flex; align-items: center">
            <div class="col-6">
                <img src="/img/Imagem do WhatsApp de 2023-11-26 à(s) 12.38.59_b8db01f7.jpg" id="img-1" alt="Ciça Laços" style="width: 100%;"/>
                <img src="/img/Imagem do WhatsApp de 2023-11-26 à(s) 12.39.18_a1a9d89c.jpg" id="img-2" alt="Ciça Laços" style="width: 100%;"/>
                <img src="/img/Imagem do WhatsApp de 2023-11-26 à(s) 12.39.35_83b395ab.jpg" id="img-3" alt="Ciça Laços" style="width: 100%;"/>
            </div>
            <div class="col-6">
                <h2 style="text-align: center">Venha nos conhecer!</h2>
                <p>Laços incríveis para realçar sua beleza e estilo! Descubra a elegância em cada detalhe e apaixone-se pela nossa coleção de laços deslumbrantes. Venha conferir e deixe seu visual ainda mais encantador! Você pode criar laços únicos e personalizados, perfeitos para expressar sua individualidade e estilo!</p>
                <div style="text-align: center">
                    <a href="https://www.instagram.com/cicalacos.macae" target="_blank">
                        <button class="btn btn-primary">Contate-nos<i class="mdi mdi-instagram"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>