@model Usuario

@{
    ViewData["Title"] = "Logado";
}

<div class="list-group">
  <a href="Pedidos" class="list-group-item list-group-item-action active" aria-current="true">
    Cadastrar Pedidos
  </a>
  <a href="Listagem" class="list-group-item list-group-item-action">Ver Pedidos</a>
</div>