@model Usuario
@{
    ViewData["Title"] = "Login";
}
@if (!string.IsNullOrEmpty(ViewBag.Mensagem) && ViewBag.Mensagem == "Falha no Login")
{
    <div class="alert alert-danger" role="alert">
        Falha no login! Verifique se preencheu os dados corretamente!
    </div>
}
<div style="text-align: center">
<h2>Login</h2>
<p id="pMensagem">@ViewBag.Mensagem</p>
<form asp-action="Login" method="POST">
    <p>
        <label asp-for="Login">Login:</label>
        <input asp-for="Login" />
    </p>
    <p>
        <label asp-for="Senha">Senha:</label>
        <input asp-for="Senha" type="password" />
    </p>
    <p>
        <input type="submit" value="Entrar" />
    </p>
</form>
</div>